.hero {
  position: relative;
  height: 100vh;
}

#tsparticles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.hero-navbar__brand {
  font-family: "Coolvetica", sans-serif;
}

.hero-navbar__resume a {
  padding: 4px 12px;
  cursor: pointer;
}

.hero-navbar__resume a:hover {
  color: var(--bg-color);
}

.hero-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-profile__image img {
  border-radius: 50%;
}

.hero-profile__name {
  font-family: "Coolvetica", sans-serif;
}
